{% load humanize %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <style>
        .right-side{
            text-align: right;
        }
    </style>
</head>
<body>
    <div id="message-list">
        {% for message in messages %}
        <div class="{% if 1 == message.sender %}right-side{%endif%}">
        <strong style="margin-right:10px">{{message.sender}}</strong>{{message.body}}<span style="color:gray; font-size:0.8rem; margin-left:10px">{{message.created_at|naturaltime}}</span><br>
        </div>
    {% endfor %}
    </div>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const characters ='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';

        function generateString(length) {
            let result = ' ';
            const charactersLength = characters.length;
            for ( let i = 0; i < length; i++ ) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }

            return result;
        }


        {% comment %} const roomName = JSON.parse(document.getElementById('room-name').textContent); {% endcomment %}
        const roomName = "d6017c4b-5c1f-4608-b9d4-485779df7538"

        const chatSocket = new WebSocket('ws://127.0.0.1:8000/send/'+roomName+'/');
        {% comment %} const chatSocket = new WebSocket('ws://127.0.0.1:8000/send/?key=ewruwiern34373895wierjkfds'); {% endcomment %}
        
        chatSocket.onopen = function(e){
            console.log("connected....", e)
        }

        chatSocket.onmessage = function(e) {
            console.log("message...", e.data)
            const data = JSON.parse(e.data);
            console.log("message body", data.data.body)
            document.querySelector('#chat-log').append(data.data.body + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
            console.log('Chat socket closed unexpectedly', e);
            
        };

        chatSocket.onerror = function(e){
            console.log("some error", e)
        }

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'body': message,
                'event_type': 'chat.message',
                'member': 1
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>