

body{
    max-width: 2 in;
}



table.generated-table {
width: 100%;
background-color: #ffffff;
border-collapse: collapse;
border-width: 2px;
border-color: #ffcc00;
border-style: solid;
color: #000000;
}

table.generated-table td, table.generated-table th {
border-width: 2px;
border-color: #ffcc00;
border-style: solid;
text-align: center;
padding: 3px;
}

table.generated-table thead {
background-color: #ffcc00;
}
.headding{
text-align: center;
width: 100%
}

